hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
 }

h1 
{
    margin-left: 40px;
    margin-bottom: 10px;
}


.person-card
{
    max-width: 400px;
    margin-left: 40px;
    margin-bottom: 40px;
    tab-size: "0";
}

.header-img
{
    background-size: cover; 
}

.test-card
{
    max-width: 400px;
    margin-left: 40px;
    margin-bottom: 40px;
}

.galgadot-avatar
{
    background-image: url("../../assets/celebrities/galgadot2.jpg");
    background-size: cover;
}

.michaelfassbender-avatar
{
    background-image: url("../../assets/celebrities/michaelfassbender3.jpg");
    background-size: cover;
}

.test-header-img
{
    background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
    background-size: cover;
}