
.child {
        display: flex;
        float: left;
        flex-flow: row wrap;
    }
    

.grankid {
    align-content: space-around;
    margin:40px;
    width:100px;
    height:100px;
    border:solid 1px gray;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
.child1 {
    display: flex;
    float: left;
    flex-flow: row wrap;
}
.grandkid {
   align-content: space-around;
    margin:40px;
    width:100px;
    height:100px;
    border:solid 1px gray;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
} 

