<mat-card class="face-card">
  <mat-card-header class="text">
    <div mat-card-avatar class="user-avatar"></div>
    <mat-card-title >{{user.name}}</mat-card-title>
    <mat-card-subtitle >{{user.subtitle}}</mat-card-subtitle>
  </mat-card-header>
  <img class="thumbnail" mat-card-image src="../../assets/celebrities/{{user.images[0]}}">
  <mat-card-content>
    <p>
      The face of {{user.name}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>DELETE</button>>
  </mat-card-actions>
</mat-card>