<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">

    <mat-grid-tile  [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h3>Card 1</h3>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile  [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h3>Card 2</h3>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile  [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h3>Vessel</h3>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Cockpit
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table><tr><th>Temperature</th></tr><tr><td>70</td></tr></table> 
              </ng-template>
            </mat-expansion-panel>
          
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Engine Room
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table><tr><th>Temperature</th></tr><tr><td>70</td></tr></table> 
              </ng-template>
            </mat-expansion-panel>
          
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                 MastHead
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table><tr><th>Temperature</th></tr><tr><td>70</td></tr></table> 
              </ng-template>
            </mat-expansion-panel>
          
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Master Stateroom
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table><tr><th>Temperature</th></tr><tr><td>70</td></tr></table> 
              </ng-template>
            </mat-expansion-panel>
          
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Aft Stateroom Port
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table><tr><th>Temperature</th></tr><tr><td>70</td></tr></table> 
              </ng-template>
            </mat-expansion-panel>
          
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Aft Stateroom Starboard
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table><tr><th>Temperature</th></tr><tr><td>70</td></tr></table> 
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile  [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h3>Environment</h3>


    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Navigation

            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Information
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Vessel
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" style="text-align:left;">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Cockpit
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table><tr><th>Temperature</th></tr><tr><td>70</td></tr></table> 
              </ng-template>
            </mat-expansion-panel>
          
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Engine Room
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table><tr><th>Temperature</th></tr><tr><td>70</td></tr></table> 
              </ng-template>
            </mat-expansion-panel>
          
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                 MastHead
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table><tr><th>Temperature</th></tr><tr><td>70</td></tr></table> 
              </ng-template>
            </mat-expansion-panel>
          
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Master Stateroom
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table><tr><th>Temperature</th></tr><tr><td>70</td></tr></table> 
              </ng-template>
            </mat-expansion-panel>
          
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Aft Stateroom Port
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table><tr><th>Temperature</th></tr><tr><td>70</td></tr></table> 
              </ng-template>
            </mat-expansion-panel>
          
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                 Aft Stateroom Starboard
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table><tr><th>Temperature</th></tr><tr><td>70</td></tr></table> 
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Environment
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>