<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Navigation
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          speed <div class="speed">{{speedOverGround$|async|number:'1.2-2'}}</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Vessel
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" style="text-align:left;">
          <mat-accordion>
            <mat-expansion-panel expanded="false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Diagram
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <vessel-diagram></vessel-diagram>
              </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Cockpit
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table>
                  <tr>
                    <td>Outside Temperature</td>
                    <td>{{outsideTemperature$|async}}</td>
                  </tr>
                  <tr>
                    <td>Outside Humidity</td>
                    <td>{{outsideHumidity$|async}}</td>
                  </tr>
                </table>
              </ng-template>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Engine Compartment
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table>
                  <tr><td>Inside Temperature</td><td>{{engineInsideTemperature$|async}}</td></tr>
                  <tr><td>Coolant Temperature</td><td>{{coolantTemperature$|async }}</td></tr>
                  <tr><td>Intake Mainfold Temperature</td><td>{{intakeManifoldTemperature$|async}}</td></tr>
                </table>  
              </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Mast Head
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table>
                  <tr><td>Outside Temperature</td><td>{{outsideTemperature$|async}}</td></tr> 
                  <tr><td>Outside Humidity</td><td>{{outsideHumidity$|async}}</td></tr>
                  <tr><td>Wind Speed</td><td>{{windSpeedApparent$|async}}</td></tr> 
                  <tr><td>Wind Direction</td><td>{{windDirectionTrue$|async}}</td></tr>
                </table> 
              </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Master Stateroom
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table>
                  <tr><td>Temperature</td><td>{{outsideTemperature$|async}}</td></tr>
                  <tr><td>Humidity</td><td>{{outsideHumidity$|async}}</td></tr>
                </table> 
              </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Aft Stateroom Port
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table>
                  <tr><td>Temperature</td><td>{{outsideTemperature$|async}}</td></tr>
                  <tr><td>Humidity</td><td>{{outsideHumidity$|async}}</td></tr>
                </table> 
              </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Aft Stateroom Starboard
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table>
                  <tr><td>Temperature</td><td>{{outsideTemperature$|async}}</td></tr>
                  <tr><td>Humidity</td><td>{{outsideHumidity$|async}}</td></tr>
                </table> 
              </ng-template>
            </mat-expansion-panel>
            <mat-expansion-panel >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Battery Compartment
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ng-template matExpansionPanelContent>
                <table>
                  <tr><td>House Battery Current</td><td>{{houseCurrent$|async}}</td></tr>
                  <tr><td>House Battery Voltage</td><td>{{houseVoltage$|async}}</td></tr>
                  <tr><td>House Battery Temperature</td><td>{{houseTemperature$|async}}</td></tr>
                  <tr><td>Starter Battery Current</td><td>{{starterCurrent$|async}}</td></tr>
                  <tr><td>Starter Battery Voltage</td><td>{{starterVoltage$|async}}</td></tr>
                  <tr><td>Starter Battery Temperature</td><td>{{starterTemperature$|async}}</td></tr>
                </table> 
              </ng-template>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Environment
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>
            <wind-rose></wind-rose>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>